<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="home" class="nav-link">
        <span class="title">ToDo-List</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
