<button class="btn btn-primary" (click)="toggleModal()">
    <clr-icon shape="add"></clr-icon>
    Add ToDo
</button>
<div class="card">
    <div class="card-header">
        Todos
    </div>
    <div class="card-block">
        <div class="card-text">
            <ng-container *ngIf="todos$ | async; else loading; let todos" class="list-unstyled">
                <ul class="list-unstyled">
                    <li #listElement *ngFor="let todo of todos; let i = index; let last = last"
                        fxLayout="row" fxLayoutAlign="space-between">
                        <div class="checkbox" fxFlex>
                            <input type="checkbox" id="done_{{i}}" [checked]="todo.done" (change)="toggleDone(todo)">
                            <label for="done_{{i}}" role="tooltip"
                                   [attr.aria-haspopup]="!!todo.description"
                                   [class.tooltip]="!!todo.description"
                                   [class.tooltip-lg]="!!todo.description">
                                <div *ngIf="listElement.isEditable; else notEditable">
                                    <input #titleInput [value]="todo.title"
                                           type="text" id="change-title_{{i}}"
                                           (change)="changeTitle(titleInput.value, todo);
                                       listElement.isEditable = !listElement.isEditable">
                                    <span>&nbsp;&nbsp;</span>
                                    <input #descriptionInput [value]="todo.description"
                                           type="text" id="change-description_{{i}}"
                                           (change)="changeDescription(descriptionInput.value, todo);
                                       listElement.isEditable = !listElement.isEditable">
                                </div>
                                <ng-template #notEditable>
                                    <span [class.done]="todo.done">{{ todo.title }}</span>
                                </ng-template>
                                <span *ngIf="todo.description" class="tooltip-content">
                                    {{ todo.description }}
                                </span>
                            </label>
                        </div>
                        <div class="btn-group" fxLayout="row" fxLayoutAlign="end none">
                            <button type="button" class="btn btn-icon"
                                    [class.btn-primary]="listElement.isEditable"
                                    (click)="listElement.isEditable = !listElement.isEditable">
                                <clr-icon shape="pencil"></clr-icon>
                            </button>
                            <button type="button" class="btn btn-icon" (click)="removeTodo(todo)">
                                <clr-icon shape="trash"></clr-icon>
                            </button>
                        </div>
                        <div *ngIf="!last">
                            <br><br>
                        </div>
                    </li>
                </ul>
                <p *ngIf="todos.length < 1" class="no-todos">
                    Du hast keine ToDos. Lehne dich zurück und genieße deinen Tag!
                    <br>
                </p>
            </ng-container>
            <ng-template #loading>
                <span class="spinner">
                    Loading...
                </span>
            </ng-template>
        </div>
    </div>
</div>
<clr-modal [(clrModalOpen)]="modalOpened" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">Add a new ToDo</h3>
    <div class="modal-body">
        <form [formGroup]="todoFormGroup" (submit)="addTodo()">
            <section class="form-block">
                <div class="form-group">
                    <label class="required">Title: </label>
                    <label for="title" fxFill [class.invalid]="title.invalid && title.touched"
                           class="tooltip tooltip-validation tooltip-sm">
                        <input type="text" id="title" formControlName="title" fxFill>
                    </label>
                </div>
                <div class="form-group">
                    <label for="description">Description: </label>
                    <textarea id="description" rows="5" formControlName="description" fxFill></textarea>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addTodo()">
            <clr-icon shape="add"></clr-icon>
            Add ToDo
        </button>
    </div>
</clr-modal>
